
/*<div class="dis">
		   <ul type="none">
		   <li><span class="tag1">Trip date:</span><span class="tag2">14.08.2022</span> </li>
		   <li><span class="tag1">Trip days:</span><span class="tag2">11 days</span></li>
		   <li><span class="tag1">Riding:</span><span class="tag2">1,200kms</span></li>
		   </ul>
		 </div>*/
		 
.heading{text-align:center;
         font-family:sans-serif;
		 padding:20px;
		 margin-bottom:10px;
		 }
		 
.box1{background-color:#eeeeee;
      padding:20px;
	  display:flex;
	  width:90%;
	  gap:20px;
	  margin-left:40px;
	  }

.A{width:120%;
   background-color:white;
   }
   
.image1{width:90%;
        padding:10px;
		margin-left:8px;
        }
.image1:hover{transform:scale(1.01);}

p{margin-left:10px;
  font-family:sans-serif;
  margin-bottom:30px;}

.tag1{margin-left:10px;
      font-family:Arial;
	  font-size:15px;}
.tag2{float:right;
      margin-right:10px;
      font-family:Arial;
	  font-size:15px;}

button:hover{background-color:#00B4D8;}
	 
button{padding:10px 155px 10px 155px;
       margin-top:20px;
	   margin-bottom:30px;
	   border:none;
	   border-radius:0px;
	   background-color:#0496c7;
	   color:white;
	   margin-left:2px;
	   }